body {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#USButton {
  text-align: center;
  margin: 0% 0% 5% 0%;
}



.StateSearch{
  text-align: center;
}

#TextBar {
  background-image: url('images/SearchIcon.png');   /* Add a search icon to input */
  background-position: 10px 12px;                   /* Position the search icon */
  background-repeat: no-repeat;                     /* Do not repeat the icon image */
  width: 20%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#SearchButton {
  border: 2px solid #111111;
  padding: 5px;
  width: 100px;
  height: 100px;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
